
.bodyf{transition: 0.3s all ease;background:#f5f5f5;min-height:100vh;padding-top:4.9rem;padding-bottom:2.5rem;position:relative;height:100%;width: 100%;}

.cdsdada{width:100%;height:3.2rem;border-bottom:0.025rem solid #ccc;line-height:3.2rem;position:fixed;top:0;background:#fff;z-index:2;}
.cdsdada i{float:left;font-size:1.5rem;margin-left:2.15rem;}
.cdsdada .logo{
	margin-left: 4rem;
}
.bodyf .noList{
	text-align: center;font: 1rem "微软雅黑";
	margin-top: 38%;
}
.cdsdada span{float:right;padding:0 0.825rem;}
.cdsss{width:100%;height:auto;z-index: 1000;background:#f5f5f5;position: fixed;top: 3.2rem;}

.cdsContent{width:100%;margin-top:0.3rem;}
.cdsContent li{padding:0.75rem;position:relative;margin-bottom:0.3rem;background: #fff;}
.cdsss .mei{margin:0;}

.cdsnone input{
	visibility: hidden;
}
.classcds{padding-top:3.2rem; transition: 0.5s all ease}
.cdsContent p i{font-size:0.8rem;font-weight:bold;}
.cdsContent .cdsspan{display:block;position: absolute;right: 1rem;top: 1rem;}
.cdsfenxiang{width:100%;border-top:0.025rem solid #ccc;}
.cdsfenxiang span{margin: 0.5rem 0.5rem 0 0.5rem;float:left;background-repeat: no-repeat;}

.cdsposition{width:100%;height:2.5rem;background:#fff;position:fixed;bottom: 0;left:0;z-index: 999;}
.cdsbottom{width:100%;height: 100%;}
.cdsposition p{text-align: center;}
.cdsbottomri p{margin-top: .1rem;}

.cdsbottomri{font-size:1.4rem;color:#eb6371;margin-left:4rem;margin-top:0.3rem;}
.cdsbottomri:active{color:#f90;}
.cdsbottomco {font-size:1.6rem;color:#eb6371;margin-left:4.5rem;margin-top:0.2rem;}
.cdsbottomco:active{color:#f90;}
.cdsfenxiang span{width:1rem;height:1rem;float:left;}
.cdsqq{width:1rem;height:1rem; font-size: 1rem;}
.cdsvx{background:url(../images/cdsvx.png);background-size: cover;}
.cdsfenxiang .cdsxq{width:2rem;margin-left:3rem;}
.cdsnone{width:2rem;height:2rem;position:absolute;right: 0;top:0.75rem;background:#fff;transition: 0.5s all ease}



.checkboxFour {
	width: .6rem;
	height: .6rem;
	background: #ddd;
	border-radius: 100%;
	position: relative;
	top:.8rem;
	left:0.5rem;
	-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
}
.checkboxFour label {
	display: block;
	width: .6rem;
	height: .6rem;
	border-radius: 5rem;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;
	transition: all .5s ease;
	cursor: pointer;
	position: absolute;
	top: 0rem;
	left:  0rem;
	z-index: 1;
	background: #333;
	-webkit-box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5);
}
#checkboxFourInput{
	visibility: hidden;
}
.checkboxFour input[type=checkbox]:checked + label {
	background: #26ca28;
}
.hintBackG{
	background: #fff;
}
