html,
body,
div,
span,
p,
h1,
h2,
h3,
b,
i,
a,
em,
input,
form,
img,
ul,
li,
dl,
dt {
  margin: 0;
  padding: 0;
  border: 0;
  
  font-family: "微软雅黑";
  outline: none;
  font-style: normal;
  box-sizing: border-box;
}
input.ng-valid{
	border: 1px solid green;
}
input.ng-invalid{
	border: 1px solid #fff;
}
.yky_bg{
	background: url(../images/log_bg.gif) no-repeat fixed;
	background-size: cover;
	min-height: 100vh;
	color: #fff;
	padding-bottom: 0.6rem;
}
.yky_bg .head{
	background: rgba(20,33,43,0.8);
	color: #fff;
}
.yky_bg div{
	background: rgba(255,255,255,0);
}
.yky_bg .hintBox{
	width: 10rem;
	height: 3rem;
	position: fixed;
	top: 46%;
	left: 50%;
	margin-left: -5rem;
	background: rgba(255,255,255,.8);
	color: #222222;
	text-align: center;
	line-height: 3rem;
	border-radius: .25rem;
}
.yky_bg input{
	background: none;
	color: #fff;
}
.yky_t{
	display: block;
	text-align: center;
	font-size: 1rem;
}
.yky_phead{
	padding: 3.2rem 0.4rem 0 0.4rem;
}
.yky_container{
	padding: 0 0.4rem;
}
.yky_title{
	height: 1.5rem;
	color: #fff;
	line-height: 1.5rem;
	background-image: linear-gradient(to right,blue,#fff);
}
.yky_cancel{
	float: left;
	margin-left: 0.8rem;
	line-height: 3.2rem;
	font-size: 1rem;
	color: #007aff;
}
.yky_pl{
	padding-left: 0;
}
.yky_mt{
	margin-top: 0.25rem;
}
.yky_xx{
	padding-bottom: 0.6rem;
}
.yky_h24{
	height: 0.6rem;
}
.yky_mt2{
	margin-top: 0.8rem;
	padding: 0.6rem 0.8rem;
	border: 1px solid #fff;
}
.yky_add{
	width: 40%;
	margin-top: 2rem;
	margin-left: 30%;
	color: ##eadfdf;
	border: 1px solid #fff;
	border-radius: 0.4rem;
	text-align: center;
	height: 2rem;
	line-height: 2rem;
	font-size: 0.8rem;
}
.yky_btn{
	margin-top: 10px;
	padding: 0 1rem;
}

.yky_bg .yky_modal{
	margin-top: 50%;
	background-color:#fff;
	color: rgb(20,33,43);
}

.yky_bg .shan_que{
	height: 15%;
	width: 70%;
	background: #fff;
	position: absolute;
	top: 40%;
	left: 15%;
	padding: 0.4rem 0.8rem;
	box-shadow: 0 0.01rem 0.12rem #000;
	border-radius: 0.6rem;
	z-index: 999;
	color: #fff;
}
.yky_bg .shan_que p:nth-child(1){
	font-size: 0.7rem;
	padding: 0.1rem;
	color: #333;
	line-height: 1.5rem;
	border-bottom: 1px solid #ccc;
}
.yky_bg .shan_que p:nth-child(2) span{
	float: right;
	font-size: 0.6rem;
	padding: 0.3rem;
	color: #FF5500;
	line-height: 1rem;
}
.yky_bg .shan_bg{
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	background: rgba(255,255,255,0);
}
