.container h1{
	font:  1rem "microsoft yahei";
	text-align: center;
	padding: .5rem 0 ;
}
.container{
	width: 100%;
	height: 100%;
	min-height: 100vh;
	padding-top: 3.2rem;
	background: #f5f5f5;
}
.noList{
	text-align: center;font: 1rem "微软雅黑";
	margin-top: 38%;
	color: #B3B3B3;
}
.noList p{
	margin-top: .3rem;
}
.ico_empty{
    width: 3.43rem;
    height: 3.75rem;
    margin: auto;
	background-image: url(../images/sprites_ico_2x.png);
    background-size: 7.705rem 6.325rem;
	background-position: 0px 0px;
}
.container .panel-default > .titleBg{
	background: #fff;
}
.graph-panel>p{
	text-align: center;
}
