.bodyf .shan_que{
	min-height: 15%;
	width: 70%;
	background: #fff;
	position: absolute;
	top: 40%;
	left: 15%;
	padding: 0.4rem 0.8rem;
	box-shadow: 0 0.01rem 0.12rem #000;
	border-radius: 0.6rem;
	z-index: 999;
	color: #fff;
}
.bodyf .shan_que p:nth-child(1){
	font-size: 0.7rem;
	padding: 0.1rem;
	word-break: break-all;
	color: #333;
	line-height: 1.5rem;
	border-bottom: 1px solid #ccc;
}
.bodyf .shan_que p:nth-child(2) span{
	float: right;
	font-size: 0.6rem;
	padding: 0.3rem;
	color: #337ab7;
	line-height: 1rem;
}
.bodyf .shan_bg{
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	background: rgba(255,255,255,0);
}