/*父级*/
.log_box{
	width: 16rem;
	/*height: 28.4rem;*/
	/*height: auto;*/
	height: 100%;
	overflow: hidden;
	background: url(../images/log_bg.gif) no-repeat center center;
	background-size: cover;
}
/*logo*/
.log_log{
	width: 7.75rem;
	height: auto;
	margin: 0 auto;
	margin-top: 1.5rem;
}
.log_logpic{
	width: 4.85rem;
	height: 4.85rem;
	border-radius: 50%;
	background: #ffee58;
	margin: 0 auto;
}
.log_logpic img{
	width: 4.85rem;
	height: 4.85rem;
}
.log_log h1{
	font-size: 1.1rem;
	color: #fff;
	font-family: "微软雅黑";
	text-align: center;
	margin-top: 1rem;
}
.log_log h1 span{
	padding: 0 0.25rem;
}
.log_log p{
	font-size: 0.375rem;
	color: #fff048;
	text-align: center;
	margin-top: 0.75rem;
	margin-bottom: 0;
}
.log_log p span{
	padding: 0 0.1rem;
}
.log_mr{
	margin-right: 0.375rem;
}
/*user-passwo*/
.log_uspa{
	margin-top: 2.5rem;
	padding: 0 1rem;
	height: auto;
	padding-bottom: 2rem;
}
.log_user{
	height: 1.25rem;
	margin-bottom: 0.95rem;
}
.log_user_logo{
	width: 1.25rem;
	height: 1.25rem;
	font-size: 1.25rem;
	color: #fff;
	float: left;
}
.log_user input{
	border: none;
	border-bottom: 0.025rem solid #8f9499;
	height: 1.25rem;
	width: 100%;
	margin-left: 0.5rem;
	float: left;
	background: transparent;
	width: 12.125rem;
	font-size: 0.45rem;
	color: #ccc;
}
.log_submit{
	width: 100%;
	height: auto;
	text-align: center;
	margin-top: 1rem;
}
.log_submit_log{
	display: block;
	width: 100%;
	height: 2.25rem;
	line-height: 2.25rem;
	font-size: 0.475rem;
	font-weight: bold;
	color: #434a54;
	border-radius: 0.25rem;
	background: #ffee58;
}
.log_submit p{
	height: 2.25rem;
	line-height: 2.25rem;
	font-size: 0.4rem;
	color: #fcfcfc;
	margin-bottom: 0;
}
.log_submit_regist{
	display: block;
	width: 100%;
	line-height: 2.25rem;
	font-size: 0.475rem;
	font-weight: bold;
	color: #ffee58;
	background: #263238;
	border-radius: 0.25rem;
}
.log_code{
	height: auto;
}
.log_code p{
	float: left;
}
.log_code_top{
	text-align: left;
	height: 1.8rem;
	width: 7.25rem;
}
.log_code_top span{
	float: left;
	height: 0.45rem;
	font-size: 0.45rem;
	color: #ccc;
	margin-top: 0.3rem;
}
.log_code_top input{
	height: 1.25rem;
	width: 4.5rem;
	float: left;
	font-size: 0.45rem;
	color: #ccc;
	border: none;
	background: transparent;
	border-bottom: 1px solid #8f9499;
}
.log_code_top p{
	font-size: 0.3rem;
	margin-bottom: 0;
	text-align: center;
	width: 100%;
	margin-top: 0.2rem;
	color: #ccc;
}
.log_code_pic{
	text-align: left;
	height: 1rem;
	width: 7.25rem;
	position: relative;
	margin-top: 0.5rem;
	margin-left: 2rem;
}
.log_code_pic a{
	display: block;
	float: left;
	position: absolute;
	bottom: .2rem;
	left: 3rem;
	font-size: 0.3rem;
	color: #ccc;
}
.code{
	font-family:Arial;
	font-style:italic;
	 color:#ffee58;
	 /*background: #edf8fe;*/
	 font-size:30px;
	 border:0;
	 padding:2px 3px;
	 letter-spacing:3px;
	 font-weight:bolder;             
	 float:left;            
	 cursor:pointer;
	 width:150px;
	 height:60px;
	 line-height:60px;
	 text-align:center;
	 vertical-align:middle;

}
