.server_box{
	width: 16rem;
	height: 100%;
	overflow: hidden;
	margin: 0 auto;
}
.surveypage_bg{
	width:16rem;
	height: auto;
	/*height:28.4rem;*/
	background: url(../images/log_bg.gif) no-repeat center center fixed;
	background-size: cover;
	/*position:fixed;*/
	overflow: hidden;
}
.surveypage_bg h1{
	width:16rem;
	height: 3.2rem;
	color:#fff;
	line-height:3.2rem;
	font-size:1rem;
	position: fixed;
	text-align: center;
	font-family:"楷体";
}
.server_kong{
	width:16rem;
	height: 28.4rem;
}
.wjdc_bg{
	width: 14rem;
	height:auto;
	margin: 0 auto;
	/*margin-top: 29rem;*/
	border-width: 0.625rem;
	border-style: solid;
	border-image: url(../images/wjdc.png) 25 fill repeat;
	margin-bottom: 2rem;

}
.wjdc_bg h2{
	height:1.5rem;
	color:#000;
	font-size:0.5rem;
	line-height:1.5rem;
}
.neir{
   height: auto;
}
