.server_box {
	width: 16rem;
	height: 100%;
	overflow: hidden;
	margin: 0 auto;
}

.surveypage_bg {
	width: 16rem;
	height: auto;
	overflow: hidden;
}

.page_bg {
	width: 16rem;
	min-height: 100vh;
	background: url(../images/wjbj.jpg) no-repeat center center;
	position: fixed;
	background-size: cover;
	z-index: -2;
	top: 0;
	left: 0;
}

.title_head {
	width: 100%;
	height: auto;
	position: fixed;
	z-index: -1;
}

.surveypage_bg h1 {
	height: auto;
margin: 0 auto;
line-height: 1.3rem;
color: #000;
font-weight: 550;
font-size: 1.2rem;
text-align: center;
font-family: "微软雅黑";
margin-top: 2rem;
word-wrap: break-word;
padding: 0 2rem;
letter-spacing: 0.1rem;
}

.wjdc_bg {
	width: 14rem;
	height: auto;
	margin: 0 auto;
	border-width: 0.625rem;
	border-style: solid;
	border-image: url(../images/wjdc.png) 25 fill repeat;
	margin-bottom: 2rem;
	margin-top: 7rem;
}
.neir {
	height: auto;
	padding-bottom: 1.5rem;
}

.neir h3 {
	height: 1.5rem;
	color: #000;
	font-size: 0.7rem;
	line-height: 1.5rem;
	margin-left: 0.2rem;
}

.page_radio {
	width: 100%;
	height: 1rem;
	line-height: 1rem;
	margin-bottom: 0.5rem;
	position: relative;
}

.page_radio label {
	font-size: 0.7rem;
	float: left;
	margin: 0;
}

.page_radio input {
	margin-top: 0.2rem;
	float: left;
	margin-left: 0.2rem;
	margin-right: 0.4rem;
	visibility: hidden;
}

.page_radio_style {
	width: 0.375rem;
	height: 0.375rem;
	background: transparent;
	border: 1px solid #999;
	position: absolute;
	border-radius: 50%;
	top: 0.075rem;
	left: 0.075rem;
}

.page_radio_style:after {
	width: 0.325rem;
	height: 0.325rem;
	border: 0.075rem solid blue;
}

.page_btn {
	margin: 0.3rem auto;
	text-align: center;
}

.pack input {
	width: 10rem;
	height: 1rem;
	margin-left: 0.2rem;
	margin-top: 0.2rem;
	border: none;
	border-bottom: 1px solid #ccc;
}

.answer textarea {
	border: 1px solid #ccc;
	margin-left: 0.2rem;
	margin-top: 0.2rem;
}

.demo--label {
	margin: 0.5rem 0.5rem 0 0;
	display: inline-block
}

.demo--radio {
	display: none
}

.demo--radioInput {
	background-color: #fff;
	border: 1px solid #999;
	border-radius: 100%;
	display: inline-block;
	height: 0.6rem;
	margin-right: 0.25rem;
	margin-top: -0.025rem;
	vertical-align: middle;
	width: 0.6rem;
	line-height: 0.025rem;
}

.demo--radio:checked+ .demo--radioInput:after {
	background-color: transparent;
	border-radius: 100%;
	content: "";
	display: inline-block;
	height: 0.6rem;
	margin: -0.025rem;
	width: 0.6rem;
	border: 0.15rem solid #337ab7;
}

.demo--checkbox.demo--radioInput,
.demo--radio:checked+ .demo--checkbox.demo--radioInput:after {
	border-radius: 30%;
}
.demo--radio:checked+ .demo--checkbox.demo--radioInput:after {
	background-color:#337ab7;
}
.server_box .hintBox{
	width: 10rem;
	height: 3rem;
	position: fixed;
	top: 41%;
	left: 50%;
	margin-left: -5rem;
	background: rgba(205,205,205,.8);
	color: #fff;
	text-align: center;
	line-height: 3rem;
	border-radius: .25rem;
	z-index: 1;
}