<div class='container'>
    <h1>你爱学习吗</h1>
    <div class="panel panel-default">
  <div class="panel-heading">你一天学习几个小时</div>
  <div class="panel-body">
    <canvas id="doughnut" class="chart chart-doughnut"
  chart-data="data" chart-labels="labels">
</canvas> 
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">你觉得你爱学习吗</h3>
  </div>
  <div class="panel-body">
   <canvas id="bar" class="chart chart-bar"
  chart-data="data" chart-labels="labels"> chart-series="series"
</canvas>
  </div>
</div>

    
</div>