<div class="log_box">
	<div class="log_log">
		<div class="log_logpic">
			<img src="images/headerpic.gif" alt="" />
		</div>
		<h1>SURVEY TIME</h1>
		<p>SOCIAL APP</p>
	</div>
	<div class="log_uspa">
		<div class="log_user">
			<div class="glyphicon glyphicon-user log_user_logo"></div>
			<input id="" ng-model="loginuser" type="text" placeholder="UserName"/>
		</div>
		<div class="log_user">
			<div class="glyphicon glyphicon-exclamation-sign log_user_logo"></div>
			<input id="" ng-model="loginpass" type="text" placeholder="PassWord"/>
		</div>
		<validate-code></validate-code>
		<div class="log_submit">
			<a href="javascript:;" class="log_submit_log" ng-click="log()">LOGIN</a>
			<p>FORGOT PASSWORD</p>
			<a ui-sref="register" class="log_submit_regist" ng-click="createCode()">REGISTER</a>
		</div>
	</div>
	<!--<div class="log_bg">
		
	</div>-->
</div>