<div class="bodyf">
	<div class="cdsdada">
     <i class="logo">SurveyTime</i>
     <span ng-click="cdstc()" ng-show="isshow">退出</span>
     <span ng-click="cdsqx()" ng-show="!isshow">取消</span>
    </div>
    <search></search>
    <div class='noList' ng-show='noList'>

		<div class="ico_empty"></div>
		<p class="">没有数据噢</p>
	</div>
    <ul class="cdsContent">
        <li ng-repeat="x in json |filter:sea">
            <p ui-sref="graph({index:x.id})">
                <i>{{x.title}}</i>
            </p>
            <span class="cdsspan glyphicon glyphicon-remove" ng-click="shanchu($index)"></span>
            <div class="cdsfenxiang clearFix">
                <span class="cdsqq" ng-click="share()"></span>
                <span class="cdsvx"></span>
                <span class="cdsxq" ui-sref="surveyPage({id:x.id})">详情</span>
            </div>
            <div class="cdsnone" ng-show="cdschulai"> 
                <div class="checkboxFour">
                    <input type="checkbox" value="1" id="checkboxFourInput{{$index}}" name="" ng-model="x.checked"/>
                    <label for="checkboxFourInput{{$index}}"></label>
                </div>
            </div>
            <share dd={{$index}}></share>
        </li>
            <dele></dele>
    </ul>
    <div class="cdsposition">
        <div class="cdsbottom clearFix">
            
            <div class="cdsbottomco fl glyphicon glyphicon-plus-sign" ng-click="cdsxinzeng()">
            	<p>新增</p>
            </div>
            <div class="cdsbottomri fl glyphicon glyphicon-edit" ng-show="isshow" ng-click="cdsAll()">
            	<p>管理</p>
            </div>
            <div class="cdsbottomri fl glyphicon glyphicon-trash" ng-click="cdsDel()" ng-show="!isshow">
            	<p>删除</p>
            </div>
        </div>
    </div>

</div>
