<div ng-controller="zhuce" class="log_box">
	<div class="log_log">
		<div class="log_logpic">
			<img src="images/headerpic.gif" alt="" />
		</div>
		<h1>SURVEY TIME</h1>
		<p>SOCIAL APP</p>
	</div>
	<div class="log_uspa">
		<div class="log_user">
			<div class="glyphicon glyphicon-user log_user_logo"></div>
			<input type="text" placeholder="UserName" ng-model="username" />
		</div>
		<div class="log_user">
			<div class="glyphicon glyphicon-exclamation-sign log_user_logo"></div>
			<input type="password" placeholder="PassWord" id="pw" />
		</div>
		<div class="log_user">
			<div class="glyphicon glyphicon-exclamation
    				 -sign log_user_logo"></div>
			<input type="password" placeholder="PassWord" id="mima2" />
		</div>
		<div class="log_submit">
			<a href="#" class="log_submit_log" ng-click='clickLoginBtn()'>CONFIRM</a>

		</div>
	</div>
</div>
</div>
