<div>
	<div class="server_box">
	<hint></hint>
		<div class="surveypage_bg">
			<div class="title_head">
				<h1>{{updata.title}}</h1>
			</div>
			<div class="page_bg"></div>
			<div class="wjdc_bg">
				<div>
					<div class="neir"  ng-repeat=" item in wcledata1">
						<h3>{{$index+ind0+'. '+item.title}} (单选)</h3>
						<div ng-repeat=" x in item.opt" class="page_radio">
							<label for="checkboxFourInputr{{$index}}" class='demo--label'>
								<input type="radio" name="{{item.token}}"  id="checkboxFourInputr{{$index}}" class="demo--radio" type="radio"/>
								<div class=" demo--radioInput"></div>
								{{x.op}}
							</label>
						</div>
					</div>
					<div class="neir" ng-repeat=" item in wcledata2">
						<h3>{{$index+1+'. '+item.title}} (多选)</h3>
				    	<div ng-repeat="x in item.opt" class="page_radio">
							<label for="checkboxFourInputc{{$index}}" class="demo--label">
							<input type="checkbox" name="" class="demo--radio" id="checkboxFourInputc{{$index}}" />
							<span class="demo--checkbox demo--radioInput"></span>{{x.op}}</label>
						</div>
					</div>
					<div class="neir pack"  ng-repeat="item in wcledata0">
						<h3>{{$index+1+'. '+item.title}} (填空)</h3>
				    	<input type="text"  />
					</div>
					<div class="neir answer" ng-repeat="item in wcledata3">
						<h3>{{$index+1+'. '+item.title}} (简答)</h3>
				    	<div ng-controller="OptCtrl">
							<div class="example">
								<summernote config="options"></summernote>
							</div>
						</div>
					</div>
					<div class="page_btn">
						<button class="btn btn-primary" ng-click="Fn()">提交</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

